<div class="login">
    <div class="heading">
      <h2>Sign in</h2>
      <form action="/login" method="GET">
  
        <div class="input_username">
            <input type="text" name="username" class="form-control" placeholder="Username or email">
        </div>
        
        <div class="input_password">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        
          <button type="submit" class="float">Login</button>
         </form>
           </div>
   </div>